.fire-wish
{
	padding-bottom: 50px;
}
.wish{
	text-align: center;
	width: 100%;
}
.wish-image{

	 width: 100%;
}
.top-container
{
	
}
.wish-image{
	width: 100%;
}
.mid-container
{
	width: 100%;
	background-color: #ffcbcb;
	padding-top: 50px;
	text-align: center;
}
.mid-bday-image
{
	height: 300px;
	width: 300px;
	border-radius: 20%;
}
h1
{
	margin-top: 30px;
	font-size: 3rem;
	font-family: 'Playball', cursive;
}
p
{
	font-size: 2rem;
	margin: 0 auto;
	width: 60%;
	font-family: 'Sacramento', cursive;
}
.transition-div
{


}
.transition-image
{
	width: 300px;
	height: 300px;
}
.bottom-container
{
	padding: 50px 0;
	text-align: center;
}
